body {
    background-color: #DC8EF0;
    text-align: center;
    background-image: url('./images/bubble.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    width: 40%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.15);
}

hr {
    margin-top: 35px;
}

#headlineDiv {
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

#inputDiv {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding: 15px;
}

#userInput {
    width: 80%;
    border-radius: 10px;
    height: 1.5em;
    text-align: center;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
}

#submitButton {
    box-shadow: 3px 3px 1px rgba(0,0,0,0.5);
    
}

#outputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    width: 80%;
    min-width: 400;
    margin: 20px auto;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-radius: 20px;

    background-color: rgba(0,0,0,0.1);
}

.taskDiv {
    width: 200px; 
    text-align: left;
    padding: 10px 2%;
    margin: 5px 2%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
}

.taskCheckBox {
    float: right;
    display: inline;
}

.deleteButton {
    float: right;
    background-color: #4D0404;
    color: white;
    height: 16px;
    width: 16px;
    font-size: 9px;
    padding: 1px;
    margin-left: 5px;
}

p {
    display: inline;
}

.completed {
    text-decoration: line-through;
}